doctype html
html(lang="en")
	head
		title ensemble
	body
		.container
			h1
				| ensemble 
				small watch videos, together
			form.pure-form.pure-form-stacked(action="watch.html")
				fieldset
					label(for="name") Your Name 
					input#name(type="text" name="name")

					label(for="room_id") Room ID 
					input#room_id(type="text" name="room_id")
					input#submit(type="submit" value="Join or Create Room")
		
		script(src="index.js" type="module")
