doctype html
html(lang="en")
	include include/head.pug
	body
		.container
			h1
				| ensemble 
				small watch videos, together
			form(action="/watch.html", method="get")
				fieldset
					label(for="name") Your Name 
					input(type="text" name="name" placeholder="name")

					label(for="room id") Room ID 
					input(type="text" name="room_id" placeholder="dabois42")
					input(type="submit" value="join or create a room")
