doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ensemble
	body
		.container
			h1
				a#home_link(href="/") ensemble

			video#video(controls playsinline)

			.pure-g
				.pure-u-1.pure-u-md-1-2
					h2 members
					ul#members
				.pure-u-1.pure-u-md-1-2
					form#media-form.pure-form.pure-form-stacked
						fieldset
							h2 change media
							label(for="src") Source
							input#src(type="text" name="src")
							button#change_media Change Media 

		script(src="watch.js" type="module")
