doctype html
html(lang="en")
	head
		title ensemble
	body
		.container
			h1 ensemble

			video#video.video-js(controls playsinline)

			.pure-g
				.pure-u-1-2
					h2 members
					ul#members
				.pure-u-1-2
					form#media-form.pure-form.pure-form-stacked
						fieldset
							h2 change media
							label(for="src") Source (MP4, YouTube, Vimeo)
							input#src(type="text" name="src")
							button#change_media Change Media 

		script(src="watch.js" type="module")
