doctype html
html(lang="en")
	include include/head.pug
	body
		.container
			form
				fieldset
					video#video(controls=true)

					ul#members_ul

		script(src="https://unpkg.com/systemjs/dist/s.min.js")
		script(src="bundle.js")
